[defaults]

# --- Note
#     To see all available options run `ansible-config init --disabled > options-all.cfg`

# (pathlist) Comma separated list of Ansible inventory sources
inventory = hosts

# (string) Sets the login user for the target machines
# When blank it uses the connection plugin's default, normally the user currently executing Ansible.
remote_user = root

